@page "/"
<div class="text-center my-5" >
    <h1>Välkommen till HamsterWars!</h1>
</div>
<div class="text-center my-3">
    <p>Detta projekt är skapat av Mikael Nilsson och Robin da Finne. Då det inte finns många knappar att välja på så borde det inte vara svårt att förstå!</p>
    <p>Välj battle för att välja den sötaste hamstern, när ett val är gjort så får du alternativet att forsätta</p>
    <p>Välj Gallery för att kolla alla hamstrar som finns inlagda samt lägga till/ta bort hamstrar. Man kan även här se all statistik från hamstrarna</p>



    <div style="border: 2px dotted red; margin-top: 100px;">
    <p>För att ta del av API:n så har vi några kommandon du kan använda dig av</p>
    <p>/HamsterGallery/hamsters  --Ger alla hamstrar</p>
    <p>/HamsterGallery/hamsters/random  --Ger en slumpvald hamster</p>
    <p>/HamsterGallery/hamsters/id  --Ger en specifik hamster om det finns en hamster med det id:t</p>
    </div>
</div>